<div class="toolbar">
  <img  width="40" alt="pokedexLogo" src="https://static.vecteezy.com/system/resources/previews/045/112/516/non_2x/this-is-a-ball-for-catching-animals-free-vector.jpg"> 
  <h1>My pokedex</h1>
  <input type="image" width="40" alt="usuarioLogo" src="https://th.bing.com/th/id/R.8e2c571ff125b3531705198a15d3103c?rik=gzhbzBpXBa%2bxMA&riu=http%3a%2f%2fpluspng.com%2fimg-png%2fuser-png-icon-big-image-png-2240.png&ehk=VeWsrun%2fvDy5QDv2Z6Xm8XnIMXyeaz2fhR3AgxlvxAc%3d&risl=&pid=ImgRaw&r=0">
</div>
<div class="header">
  <div class="title"> 
    <h1>Pokedex</h1>
  </div>
  <div class="searchbar">
    <input type="text">
    <input type="image" width="20" src="https://th.bing.com/th/id/R.036b29831800a3d8652ad79a429cc493?rik=KDYz0dpgLqTlWQ&riu=http%3a%2f%2fpluspng.com%2fimg-png%2fsearch-button-png-select-public-search-button-z-comments-980.png&ehk=BMgbudhS%2fPdBpBt5jdmbBg%2fNnXT7pe4UdBM4utCRQgY%3d&risl=&pid=ImgRaw&r=0">
  </div>
</div>
<div class="content">
  <div class="info" *ngFor="let pokemon of pokemons" >
    <div>
      <img src="{{pokemon.detail.sprites.front_default}}" alt="pokemomImg">
      <h3>{{pokemon.name}}</h3>
     <div *ngFor="let type of pokemon.detail.types">
      <span [appPokemonType]="type.type.name">{{type.type.name}}</span>
      </div> 
    </div>
  </div>
</div>